<meta charset="utf-8">
<form action="/reg" method="post">
    name: <input type="text" name = "uname"></br>
    password: <input type="password" name = "upass"></br>
    <input type="submit" name = "sub" value = "注册">
</form>